@import '~antd/dist/antd.css';
.Book {
  margin: 30px 0 10px
}
.Home , .MyStore{
  background-color: rgb(252, 252, 252);
  
}

.Menu-top nav ul { 
  list-style-type: none;
  display: flex;
}

.Menu-top nav ul li a {
  font-size: 20px;
  padding: 15px;
  display: block;
}
.Menu-top nav ul li:hover {
  background-color: #eee;
}

.Home .wrapper-search {
  display: flex;
  justify-content: space-between;
}
.Home .wrapper-search select {
  width: 300px;
}

.Book .img-avatar {
  height: 166px;
  width: 100%;
}
